/* General style */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
    --white1: #F4F5F7;
    --white2: #F4F5F6;
    --white3: rgba(255,255,255,.9);
    --gray1: #d9d9d9;
    --gray2: rgba(255, 255, 255, .55);
    --gray3: #807f84;
    --gray4: #666;
    --gray5: #e0e0e0;
    --gray6: #d6d6d6;
    --gray7: #C2D4D7;
    --gray8: #DBDCDD;
    --yellow1: #ffe400;
    --blue1: #1da1f2;
    --blue2: #0077b5;
    --blue3: #405de6;
    --blue4: #3b5998;
    --red1: #F72210;
    --red2: #f72310;
    --red3: #F62210;
    --black1: #000;
    --black2: rgba(0, 0, 0, .55);
    --black3: #333;
    --black4: rgba(3, 3, 3, .4);
    --black5: #555;
    --black6: rgba(3, 3, 3, .5);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black3);
    background-color: var(--white1);
    min-width: 235px;
}

/* Wrapper */
.wrapper {
    max-width: 1310px;
    margin: 0 auto;
}

/* Header */
.header a:focus,
.header button:focus {
    outline: none;
}

.header__main {
    height: 50px;
    padding: 0 0 0 15px;
    background-color: var(--red1);
}
    .header__main__buttons--account,
    .header__main__buttons--subscribe {
        display: none;
    }

    .header__main__buttons--account {
        fill: var(--bs-white);
        opacity: .75;
    }
        .header__main__buttons--account:hover {
            cursor: pointer;
        }

    .main__buttons__menu {
        width: 30px;
        height: 50px;
        padding: 0 25px;
    }
        .main__buttons__menu div {
            width: 18px;
            height: 2px;
            margin: 1.5px 0;
            background-color: var(--gray2);
        }

@media screen and (min-width: 375px) {
    .header__main__buttons--account {
        display: block;
        margin-right: 10px;
    }

    .header__main__buttons--login,
    .header__main__buttons--subscribe {
        padding: 4.5px 12px;
        border: none;
        border-radius: 24px;
        font: bold 13px "Roboto Condensed", sans-serif;
        text-transform: uppercase;
    }

    .header__main__buttons--subscribe {
        background-color: var(--yellow1);
        color: var(--black1);
        display: flex;
        align-items: center;
    }
        .header__main__buttons--subscribe::after {
            margin-left: 5px;
            content: "";
            display: inline-block;
            width: 5px;
            height: 5px;
            transform: rotate(45deg);
            border-top-width: 2px;
            border-top-style: solid;
            border-right-width: 2px;
            border-right-style: solid;
        }

    .main__buttons__menu {
        padding: 0 25px;
    }
}

@media screen and (min-width: 768px) {
    .header__main__buttons--login,
    .header__main__buttons--subscribe {
        padding: 4.5px 15px;
        font-size: 18px;
    }
    
    .header__main__buttons--login {
        background-color: var(--red2);
        color: var(--bs-white);
        margin-right: 12px;
    }

    .header__main__buttons--subscribe::after {
        width: 8px;
        height: 8px;
    }

    .main__buttons__menu {
        width: 30px;
        height: 50px;
        padding: 0 35px 0 30px;
    }
        .main__buttons__menu div {
            width: 30px;
            height: 4px;
            margin: 2px 0;
        }
}

@media screen and (min-width: 992px) {
    .header__main {
        height: 108px;
        padding: 20px 25px 32px 30px;
    }
        .header__main__text {
            color: var(--bs-white);
            font: 16px "Roboto Condensed", sans-serif;
            margin-bottom: 3px;
        }

        .header__main__logo {
            position: relative;
            top: 4px;
            margin-left: 100px;
        }
            .header__main__logo a svg {
                width: 396px;
                height: 60px;
            }

    .header__nav {
        height: 85px;
    }
        .header__nav a:hover {
            color: var(--red1);
        }
        
        .header__nav__boxList1 {
            background-color: var(--bs-white);
            position: relative;
            bottom: 13px;
            padding-right: 82px;
            height: 52px;
        }
            .header__nav__boxList1::after {
                position: absolute;
                top: 0;
                right: 0;
                content: "";
                display: block;
                width: 78px;
                background-color: var(--red1);
                border-left: 12px solid var(--bs-white);
                border-top: 13px solid var(--red1);
            }
        
            .nav__boxList1__list1 {
                height: 100%;
                width: 100%;
            }
                .nav__boxList1__list1 li {
                    font: bold 18px "Roboto Condensed", sans-serif;
                    border-right: 1px solid var(--gray1);
                }
                    .nav__boxList1__list1 li a {
                        color: var(--black1);
                    }
        
            .nav__boxList1__list2 {
                height: 100%;
                width: 86px;
            }
                .nav__boxList1__list2 li {
                    color: var(--black2);
                }
        
        .header__nav__boxList2 {
            background-color: var(--bs-white);
            border-top: 2px solid var(--white1);
            border-bottom: 2px solid var(--white1);
            overflow: hidden;
            position: relative;
            bottom: 13px;
            height: 46px;
        }
            .nav__boxList2__list {
                height: 100%;
                text-transform: uppercase;
            }
                .nav__boxList2__list li {
                    font: bold 15px "Roboto Condensed", sans-serif;
                    margin-left: 30px;
                }
                    .nav__boxList2__list a {
                        color: var(--gray3);
                    }
}

/* Main */
.main a:focus {
    outline: none;
}

/* Block 1 */
.block1__row2 {
    width: 100%;
}

.block1__section1,
.block1__section2,
.block1__section3,
.block1__newsletter {
    margin-bottom: 17px;
    padding: 19px 15px 0;
    background-color: var(--bs-white);
    border-bottom: 1px solid var(--gray5);
}
    .block1__section1__heading,
    .block1__section2__heading,
    .block1__section3__heading {
        font: bold 16px "Roboto Condensed", sans-serif;
        color: var(--black4);
    }
        .block1__section1__heading a,
        .block1__section2__heading a {
            color: var(--black4);
        }

        .block1__section3__heading a,
        .block1__section3__heading a {
            color: var(--black6);
        }

    .section1__article__imageBox,
    .section3__article__imageBox {
        position: relative;
    }

    .section1__article__textBox h2,
    .section1__article__textBox h3,
    .section2__article__textBox h4 {
        font: bold 17px "Roboto Condensed", sans-serif;
    }
        .section1__article__textBox a,
        .section2__article__textBox a {
            color: var(--black1);
            text-decoration: none;
        }
            .section1__article__textBox a:hover,
            .section2__article__textBox a:hover {
                text-decoration: underline var(--red1);
            }

    .block1__top-story .section1__article__textBox h2,
    .block1__featured-stories .section1__article__textBox h3 {
        font-size: 21px;
    }

    .block1__more-stories .block1__section2__article,
    .block1__latest-stories .block1__section2__article {
        border-top: 1px solid var(--gray1);
        padding-top: 15px;
    }
        .block1__more-stories .block1__section2__article:nth-of-type(n+2),
        .block1__latest-stories .block1__section2__article:nth-of-type(n+2) {
            margin-top: 15px;
        }
    
        .block1__more-stories .section2__article__imageBox img,
        .block1__latest-stories .section2__article__imageBox img {
            width: 95px;
            height: 95px;
            margin-right: 15px;
        }
    
        .block1__more-stories .section2__article__textBox,
        .block1__latest-stories .section2__article__textBox {
            margin: 0;
        }
            .block1__more-stories .section2__article__textBox p,
            .block1__latest-stories .section2__article__textBox p {
                font-size: 12px;
                margin-top: 7px;
            }

    .block1__section1__article {
        margin-bottom: 20px;
    }
        .section1__article__imageBox figure img {
            width: 100%;
            height: 56vw;
        }

        .article__imageBox__category {
            background-color: var(--white3);
            display: inline-block;
            position: absolute;
            bottom: 0;
            padding: 4px 16px;
        }
            .article__imageBox__category a {
                color: var(--red3);
                font: bold 17px "Roboto Condensed", sans-serif;
            }
            
        .section1__article__textBox {
            margin-top: -4px;
        }
            .section1__article__textBox p {
                font-size: 12px;
            }
    
    .section2__article__imageBox img {
        width: 63px;
    }

    .section2__article__textBox {
        margin: 4px 0 0 15px;
    }
        .section2__article__textBox h4 {
            line-height: 1.25;
            margin: 0 0 3px 0;
        }

        .section2__article__textBox p {
            font-size: 14px;
            margin: 0;
        }
            .section2__article__textBox p strong {
                color: var(--black5);
            }

    .section3__article__imageBox img {
        width: 100%;
    }

    .section3__article__textBox h4 {
        font: bold 16px "Roboto Condensed", sans-serif;
    }
        .section3__article__textBox a {
            color: var(--black6);
        }

/* The Debate */
.block1__the-debate .block1__section2__article:first-of-type {
    border-top: 4px solid var(--gray1);
    padding: 10px 0;
}

.block1__the-debate .block1__section2__article:last-of-type {
    border-bottom: 4px solid var(--gray1);
    margin-bottom: 30px;
    padding-bottom: 11px;
}
    .block1__the-debate .block1__section2__article:last-of-type header {
        margin: 0 15px 0 0;
    }

.block1__section2__versus {
    position: relative;
}
    .block1__section2__versus::before,
    .block1__section2__versus::after {
        content: "";
        display: block;
        background-color: var(--gray1);
        height: 1px;
        position: absolute;
        left: 0;
        right: 0;
    }

    .block1__section2__versus::before {
        top: calc(50% - 2px);
    }

    .block1__section2__versus::after {
        top: 50%;
    }

    .block1__section2__versus div {
        position: relative;
        z-index: 1;
        width: 32px;
        height: 32px;
        background-color: var(--black1);
        color: var(--gray6);
        border-radius: 50%;
        font: bold 14px/32px "Roboto Condensed", sans-serif;
        text-align: center;
        margin: 0 auto 9px;
    }

/* Opinion */
.block1__opinion .block1__section2 {
    margin: 0;
    padding-bottom: 40px;
    border: none;
}
    .block1__opinion .block1__section2__article:nth-of-type(n+2) {
        border-top: 1px solid var(--gray1);
        margin-top: 10px;
        padding-top: 10px;
    }

/* More Stories */
.block1__more-stories .block1__section2 {
    padding-bottom: 35px;
}

/* Culture & Travel */
.block1__culture-travel .article__imageBox__category {
    padding: 0 6px;
    background-color: var(--gray7);
}
    .block1__culture-travel .article__imageBox__category a {
        color: var(--black3);
        font-size: 12px;
    }

/* Newsletter */
.block1__newsletter__form {
    width: 300px;
    max-width: 100%;
    border: 1px solid var(--gray5);
    background-color: var(--white2);
    padding: 20px;
    margin: 0 auto 30px;
}
    .newsletter__form__label {
        margin-bottom: 15px;
    }
        .form__label__iconBox {
            background-color: var(--red2);
        }

        .form__label__text {
            font: bold 19px "Roboto Condensed", sans-serif;
            text-transform: uppercase;
            margin-left: 10px;
            line-height: 1.1;
        }

.newsletter__form__text {
    width: 100%;
    height: 32px;
    line-height: 32px;
    color: var(--black5);
    font-size: 14px;
    font-family: "Helvetica", sans-serif;
    background-color: var(--bs-white);
    border: 1px solid var(--gray5);
    text-indent: 9px;
}

.newsletter__form__submit {
    margin-top: 8px;
    width: 100%;
    height: 32px;
    line-height: 32px;
    color: var(--bs-white);
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-size: 0;
    font-family: "Roboto Condensed", sans-serif;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' viewBox='0 0 107.1 12.4' style='enable-background:new 0 0 107.1 12.4;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bclip-path:url(%23SVGID_2_);%7D .st1%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%23FFFFFF;%7D .st2%7Bfill:%23FFFFFF;%7D%0A%3C/style%3E%3Cg%3E%3Cdefs%3E%3Crect id='SVGID_1_' x='100' y='0' width='7.1' height='12.4'/%3E%3C/defs%3E%3CclipPath id='SVGID_2_'%3E%3Cuse xlink:href='%23SVGID_1_' style='overflow:visible;'/%3E%3C/clipPath%3E%3Cg class='st0'%3E%3Cpath class='st1' d='M107.1,6.2L101,0l-1,1l5.2,5.2l-5.2,5.2l1,1L107.1,6.2z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cpath class='st2' d='M6.5,7.2H2.4v5H0V0.2h7.2v1.9H2.4v3.3h4.1V7.2z'/%3E%3Cpath class='st2' d='M10.8,7.5v4.8H8.4V0.2h3.9c1.2,0,2.1,0.3,2.8,0.9c0.7,0.6,1,1.5,1,2.6c0,0.6-0.1,1.2-0.4,1.6 c-0.3,0.5-0.7,0.8-1.2,1.1c0.6,0.2,1.1,0.6,1.3,1c0.3,0.5,0.4,1.1,0.4,1.8v0.9c0,0.3,0,0.7,0.1,1.1c0.1,0.4,0.2,0.7,0.4,0.8v0.2 h-2.4c-0.2-0.2-0.3-0.5-0.4-0.9s-0.1-0.8-0.1-1.2V9.4c0-0.6-0.1-1.1-0.4-1.4S13,7.5,12.5,7.5H10.8z M10.8,5.6h1.6 c0.5,0,0.8-0.1,1.1-0.4c0.2-0.3,0.4-0.7,0.4-1.3c0-0.6-0.1-1-0.4-1.3c-0.2-0.3-0.6-0.5-1.1-0.5h-1.6V5.6z'/%3E%3Cpath class='st2' d='M24.5,7h-4.1v3.4h4.8v1.9h-7.1V0.2h7.1v1.9h-4.8v3h4.1V7z'/%3E%3Cpath class='st2' d='M32.9,7h-4.1v3.4h4.8v1.9h-7.1V0.2h7.1v1.9h-4.8v3h4.1V7z'/%3E%3Cpath class='st2' d='M43.9,9.1c0-0.5-0.1-0.8-0.4-1.1c-0.2-0.3-0.7-0.5-1.3-0.8c-1.3-0.4-2.2-0.9-2.8-1.5c-0.6-0.6-0.9-1.3-0.9-2.3 c0-1,0.4-1.8,1.1-2.4C40.3,0.3,41.2,0,42.4,0c1.2,0,2.1,0.3,2.8,1c0.7,0.7,1.1,1.6,1,2.6l0,0h-2.3c0-0.6-0.1-1-0.4-1.3 c-0.3-0.3-0.7-0.5-1.2-0.5c-0.5,0-0.8,0.1-1.1,0.4c-0.3,0.3-0.4,0.6-0.4,1.1c0,0.4,0.1,0.7,0.4,1c0.3,0.3,0.8,0.5,1.5,0.9 c1.1,0.4,2,0.9,2.6,1.5c0.6,0.6,0.9,1.4,0.9,2.4c0,1-0.3,1.9-1,2.5c-0.7,0.6-1.6,0.9-2.8,0.9c-1.2,0-2.1-0.3-3-1 c-0.8-0.7-1.3-1.6-1.2-2.9l0,0h2.3c0,0.7,0.2,1.3,0.5,1.6c0.3,0.3,0.8,0.5,1.4,0.5c0.5,0,0.9-0.1,1.1-0.4 C43.8,9.9,43.9,9.6,43.9,9.1z'/%3E%3Cpath class='st2' d='M50.2,12.3h-2.3V0.2h2.3V12.3z'/%3E%3Cpath class='st2' d='M60.2,10.5c-0.3,0.5-0.8,1-1.5,1.4c-0.7,0.4-1.5,0.6-2.5,0.6c-1.3,0-2.3-0.4-3.1-1.1c-0.8-0.8-1.2-1.8-1.2-3.2 V4.4c0-1.4,0.4-2.5,1.1-3.2c0.8-0.8,1.8-1.1,3-1.1c1.3,0,2.3,0.3,3,1c0.7,0.7,1,1.6,1,2.8l0,0h-2.2c0-0.7-0.2-1.2-0.5-1.5 c-0.3-0.3-0.7-0.5-1.3-0.5c-0.6,0-1,0.2-1.4,0.6s-0.5,1-0.5,1.9v3.7c0,0.8,0.2,1.5,0.5,1.9c0.3,0.4,0.8,0.6,1.4,0.6 c0.5,0,0.8-0.1,1-0.2c0.2-0.1,0.4-0.3,0.6-0.6V7.6h-1.6V6h4V10.5z'/%3E%3Cpath class='st2' d='M70.4,12.3h-2.3l-3.7-7.7l0,0v7.7H62V0.2h2.4L68,7.9l0,0V0.2h2.3V12.3z'/%3E%3Cpath class='st2' d='M84.1,0.2v8.2c0,1.3-0.4,2.3-1.1,3c-0.8,0.7-1.7,1-3,1s-2.2-0.4-3-1.1c-0.8-0.7-1.1-1.7-1.1-3V0.2h2.4v8.2 c0,0.7,0.2,1.3,0.5,1.6c0.3,0.3,0.7,0.5,1.3,0.5c0.6,0,1-0.2,1.3-0.5s0.4-0.9,0.4-1.7V0.2H84.1z'/%3E%3Cpath class='st2' d='M88.1,7.9v4.3h-2.4V0.2H90c1.2,0,2.2,0.4,2.9,1.1c0.7,0.7,1,1.6,1,2.8c0,1.2-0.3,2.1-1,2.8 c-0.7,0.7-1.7,1.1-2.9,1.1H88.1z M88.1,6H90c0.5,0,0.9-0.2,1.2-0.6s0.4-0.8,0.4-1.4c0-0.6-0.1-1.1-0.4-1.4S90.5,2.1,90,2.1h-1.8V6z '/%3E%3C/g%3E%3C/svg%3E") center/108px no-repeat var(--red3);
    border-radius: 3px;
}

@media screen and (min-width: 768px) {
    body {
        background-color: var(--bs-white);
    }
        .block1__section1,
        .block1__section2,
        .block1__section3,
        .block1__newsletter {
            margin: 0;
            border: none;
        }
            .block1__featured-stories .section1__article__imageBox figure img {
                height: 27vw;
            }

            .block1__top-story .section1__article__imageBox figure img {
                height: 31vw;
            }

            .section1__article__textBox p {
                font-size: 14px;
            }
}

@media screen and (min-width: 992px) {
    body {
        background-color: var(--white2);
    }    
        .main {
            background-color: var(--bs-white);
        }
            .block1__row1 {
                width: 71%;
            }
            
            .block1__row2 {
                width: 29%;
            }

            .block1__featured-stories .section1__article__imageBox figure img {
                height: 17vw;
                max-height: 230px;
            }

            .block1__top-story .section1__article__imageBox figure img {
                height: 23vw;
                max-height: 313px;
            }
}

/* Block 2 */
.block2 {
    margin-top: 19px;
    padding-bottom: 25px;
    background-color: var(--bs-white);
}

/* Footer */
.footer {
    background-color: var(--bs-white);
    color: var(--gray4);
    padding: 29px 15px 15px;
    margin-top: 19px;
}
    .footer a:focus {
        outline: none;
    }

    .footer__main {
        border-bottom: 1px solid var(--gray1);
    }
        .footer__main__newsweek--logo {
            fill: var(--red1);
            max-width: 100%;
        }

        .footer__main__newsweek--text {
            font-size: 12px;
            margin-top: 9px;
        }

        .footer__main__list {
            margin-top: 6px;
        }
            .footer__main__list li a {
                color: var(--gray4);
                margin-left: 10px;
            }
                .footer__main__list li:first-child a {
                    margin-left: 0;
                }

            .footer__main__list--facebook:hover {color: var(--blue4);}
            .footer__main__list--twitter:hover {color: var(--blue1);}
            .footer__main__list--instagram:hover {color: var(--blue3);}
            .footer__main__list--linkedin:hover {color: var(--blue2);}

    .footer__secondary {
        margin-top: 5px;
    }
        .footer__secondary a:hover {
            color: var(--black1);
        }

        .footer__secondary__links {
            margin-top: -17px;
        }
            .secondary__links__editions {
                font-size: 14px;
                font-weight: bold;
                margin-right: 15px;
            }

            .secondary__links__list li a {
                color: var(--gray4);
                font-size: 14px;
                padding-right: 10px;
                margin-right: 10px;
                line-height: 2;
            }

@media screen and (min-width: 768px) {
    .footer {
        margin-top: 0;
        padding-top: 27px;
        border-top: 2.5px solid var(--white2);
    }
        .footer__main {
            padding-bottom: 12px;
        }
            .footer__main__newsweek--text {
                position: relative;
                top: 2px;
                margin-left: 15px;
            }

            .footer__main__list {
                margin: 0;
            }

        .secondary__links__list li a {
            border-right: 1px solid var(--gray1);
        }
            .secondary__links__list li:last-child a {
                border: none;
                padding: 0;
                margin: 0;
            }
}

@media screen and (min-width: 992px) {
    .footer {
        padding: 27px 30px 30px;
    }
}
