/* General style */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
    --white1: #F4F5F7;
    --white2: #F4F5F6;
    --white3: rgba(255,255,255,.9);
    --gray1: #d9d9d9;
    --gray2: rgba(255, 255, 255, .55);
    --gray3: #807f84;
    --gray4: #666;
    --gray5: #e0e0e0;
    --gray6: #d6d6d6;
    --yellow1: #ffe400;
    --blue1: #1da1f2;
    --blue2: #0077b5;
    --blue3: #405de6;
    --blue4: #3b5998;
    --red1: #F72210;
    --red2: #f72310;
    --red3: #F62210;
    --black1: #000;
    --black2: rgba(0, 0, 0, .55);
    --black3: #333;
    --black4: rgba(3, 3, 3, .4);
    --black5: #555;
    --black6: rgba(3, 3, 3, .5);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black3);
    background-color: var(--white1);
    min-width: 250px;
}

/* Wrapper */
.wrapper {
    max-width: 1310px;
    margin: 0 auto;
}

/* Footer */
.footer {
    background-color: var(--bs-white);
    color: var(--gray4);
    padding: 29px 15px 15px;
    margin-top: 19px;
}
    .footer__main {
        border-bottom: 1px solid var(--gray1);
    }
        .footer__main__newsweek--logo {
            fill: var(--red1);
            max-width: 100%;
        }

        .footer__main__newsweek--text {
            font-size: 12px;
            margin-top: 9px;
        }

        .footer__main__list {
            margin-top: 6px;
        }
            .footer__main__list li a {
                color: var(--gray4);
                margin-left: 10px;
            }
                .footer__main__list li:first-child a {
                    margin-left: 0;
                }

            .footer__main__list--facebook:hover {color: var(--blue4);}
            .footer__main__list--twitter:hover {color: var(--blue1);}
            .footer__main__list--instagram:hover {color: var(--blue3);}
            .footer__main__list--linkedin:hover {color: var(--blue2);}

    .footer__secondary {
        margin-top: 5px;
    }
        .footer__secondary a:hover {
            color: var(--black1);
        }

        .footer__secondary__links {
            margin-top: -17px;
        }
            .secondary__links__editions {
                font-size: 14px;
                font-weight: bold;
                margin-right: 15px;
            }

            .secondary__links__list li a {
                color: var(--gray4);
                font-size: 14px;
                padding-right: 10px;
                margin-right: 10px;
                line-height: 2;
            }

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

}
