/* General style */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
    --white1: #F4F5F7;
    --white2: #F4F5F6;
    --white3: rgba(255,255,255,.9);
    --gray1: #d9d9d9;
    --gray2: rgba(255, 255, 255, .55);
    --gray3: #807f84;
    --gray4: #666;
    --gray5: #e0e0e0;
    --gray6: #d6d6d6;
    --gray7: #C2D4D7;
    --gray8: #DBDCDD;
    --yellow1: #ffe400;
    --blue1: #1da1f2;
    --blue2: #0077b5;
    --blue3: #405de6;
    --blue4: #3b5998;
    --red1: #F72210;
    --red2: #f72310;
    --red3: #F62210;
    --black1: #000;
    --black2: rgba(0, 0, 0, .55);
    --black3: #333;
    --black4: rgba(3, 3, 3, .4);
    --black5: #555;
    --black6: rgba(3, 3, 3, .5);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black3);
    background-color: var(--white1);
    min-width: 235px;
}

/* Wrapper */
.wrapper {
    max-width: 1310px;
    margin: 0 auto;
}

/* Header */
.header a:focus,
.header button:focus {
    outline: none;
}

.header__main {
    height: 50px;
    padding: 0 0 0 15px;
    background-color: var(--red1);
}
    .header__main__buttons--account,
    .header__main__buttons--subscribe {
        display: none;
    }

    .header__main__buttons--account {
        fill: var(--bs-white);
        opacity: .75;
    }
        .header__main__buttons--account:hover {
            cursor: pointer;
        }

    .main__buttons__menu {
        width: 30px;
        height: 50px;
        padding: 0 25px;
    }
        .main__buttons__menu div {
            width: 18px;
            height: 2px;
            margin: 1.5px 0;
            background-color: var(--gray2);
        }

@media screen and (min-width: 375px) {
    .header__main__buttons--account {
        display: block;
        margin-right: 10px;
    }

    .header__main__buttons--login,
    .header__main__buttons--subscribe {
        padding: 4.5px 12px;
        border: none;
        border-radius: 24px;
        font: bold 13px "Roboto Condensed", sans-serif;
        text-transform: uppercase;
    }

    .header__main__buttons--subscribe {
        background-color: var(--yellow1);
        color: var(--black1);
        display: flex;
        align-items: center;
    }
        .header__main__buttons--subscribe::after {
            margin-left: 5px;
            content: "";
            display: inline-block;
            width: 5px;
            height: 5px;
            transform: rotate(45deg);
            border-top-width: 2px;
            border-top-style: solid;
            border-right-width: 2px;
            border-right-style: solid;
        }

    .main__buttons__menu {
        padding: 0 25px;
    }
}

@media screen and (min-width: 768px) {
    .header__main__buttons--login,
    .header__main__buttons--subscribe {
        padding: 4.5px 15px;
        font-size: 18px;
    }
    
    .header__main__buttons--login {
        background-color: var(--red2);
        color: var(--bs-white);
        margin-right: 12px;
    }

    .header__main__buttons--subscribe::after {
        width: 8px;
        height: 8px;
    }

    .main__buttons__menu {
        width: 30px;
        height: 50px;
        padding: 0 35px 0 30px;
    }
        .main__buttons__menu div {
            width: 30px;
            height: 4px;
            margin: 2px 0;
        }
}

@media screen and (min-width: 992px) {
    .header__main {
        height: 108px;
        padding: 20px 25px 32px 30px;
    }
        .header__main__text {
            color: var(--bs-white);
            font: 16px "Roboto Condensed", sans-serif;
            margin-bottom: 3px;
        }

        .header__main__logo {
            position: relative;
            top: 4px;
            margin-left: 100px;
        }
            .header__main__logo a svg {
                width: 396px;
                height: 60px;
            }

    .header__nav {
        height: 85px;
    }
        .header__nav a:hover {
            color: var(--red1);
        }
        
        .header__nav__boxList1 {
            background-color: var(--bs-white);
            position: relative;
            bottom: 13px;
            padding-right: 82px;
            height: 52px;
        }
            .header__nav__boxList1::after {
                position: absolute;
                top: 0;
                right: 0;
                content: "";
                display: block;
                width: 78px;
                background-color: var(--red1);
                border-left: 12px solid var(--bs-white);
                border-top: 13px solid var(--red1);
            }
        
            .nav__boxList1__list1 {
                height: 100%;
                width: 100%;
            }
                .nav__boxList1__list1 li {
                    font: bold 18px "Roboto Condensed", sans-serif;
                    border-right: 1px solid var(--gray1);
                }
                    .nav__boxList1__list1 li a {
                        color: var(--black1);
                    }
        
            .nav__boxList1__list2 {
                height: 100%;
                width: 86px;
            }
                .nav__boxList1__list2 li {
                    color: var(--black2);
                }
        
        .header__nav__boxList2 {
            background-color: var(--bs-white);
            border-top: 2px solid var(--white1);
            border-bottom: 2px solid var(--white1);
            overflow: hidden;
            position: relative;
            bottom: 13px;
            height: 46px;
        }
            .nav__boxList2__list {
                height: 100%;
                text-transform: uppercase;
            }
                .nav__boxList2__list li {
                    font: bold 15px "Roboto Condensed", sans-serif;
                    margin-left: 30px;
                }
                    .nav__boxList2__list a {
                        color: var(--gray3);
                    }
}

/* Main */
.main a:focus {
    outline: none;
}

/* Block 1 */
.block1__row2 {
    width: 100%;
}

.block1__section1,
.block1__section2,
.block1__section3,
.block1__newsletter {
    margin-bottom: 17px;
    padding: 19px 15px 0;
    background-color: var(--bs-white);
    border-bottom: 1px solid var(--gray5);
}
    .block1__section1__heading,
    .block1__section2__heading,
    .block1__section3__heading {
        font: bold 16px "Roboto Condensed", sans-serif;
        color: var(--black4);
    }
        .block1__section1__heading a,
        .block1__section2__heading a {
            color: var(--black4);
        }

        .block1__section3__heading a,
        .block1__section3__heading a {
            color: var(--black6);
        }

    .section1__article__imageBox,
    .section3__article__imageBox {
        position: relative;
    }

    .section1__article__textBox h2,
    .section1__article__textBox h3,
    .section2__article__textBox h4 {
        font: bold 17px "Roboto Condensed", sans-serif;
    }
        .section1__article__textBox a,
        .section2__article__textBox a {
            color: var(--black1);
            text-decoration: none;
        }
            .section1__article__textBox a:hover,
            .section2__article__textBox a:hover {
                text-decoration: underline var(--red1);
            }

    .block1__top-story .section1__article__textBox h2,
    .block1__featured-stories .section1__article__textBox h3 {
        font-size: 21px;
    }

    .block1__more-stories .block1__section2__article,
    .block1__latest-stories .block1__section2__article {
        border-top: 1px solid var(--gray1);
        padding-top: 15px;
    }
        .block1__more-stories .block1__section2__article:nth-of-type(n+2),
        .block1__latest-stories .block1__section2__article:nth-of-type(n+2) {
            margin-top: 15px;
        }
    
        .block1__more-stories .section2__article__imageBox img,
        .block1__latest-stories .section2__article__imageBox img {
            width: 95px;
            height: 95px;
            margin-right: 15px;
        }
    
        .block1__more-stories .section2__article__textBox,
        .block1__latest-stories .section2__article__textBox {
            margin: 0;
        }
            .block1__more-stories .section2__article__textBox p,
            .block1__latest-stories .section2__article__textBox p {
                font-size: 12px;
                margin-top: 7px;
            }

    .block1__section1__article {
        margin-bottom: 20px;
    }
        .section1__article__imageBox figure img {
            width: 100%;
            height: 56vw;
        }

        .article__imageBox__category {
            background-color: var(--white3);
            display: inline-block;
            position: absolute;
            bottom: 0;
            padding: 4px 16px;
        }
            .article__imageBox__category a {
                color: var(--red3);
                font: bold 17px "Roboto Condensed", sans-serif;
            }
            
        .section1__article__textBox {
            margin-top: -4px;
        }
            .section1__article__textBox p {
                font-size: 12px;
            }
    
    .section2__article__imageBox img {
        width: 63px;
    }

    .section2__article__textBox {
        margin: 4px 0 0 15px;
    }
        .section2__article__textBox h4 {
            line-height: 1.25;
            margin: 0 0 3px 0;
        }

        .section2__article__textBox p {
            font-size: 14px;
            margin: 0;
        }
            .section2__article__textBox p strong {
                color: var(--black5);
            }

    .section3__article__imageBox img {
        width: 100%;
    }

    .section3__article__textBox h4 {
        font: bold 16px "Roboto Condensed", sans-serif;
    }
        .section3__article__textBox a {
            color: var(--black6);
        }

/* The Debate */
.block1__the-debate .block1__section2__article:first-of-type {
    border-top: 4px solid var(--gray1);
    padding: 10px 0;
}

.block1__the-debate .block1__section2__article:last-of-type {
    border-bottom: 4px solid var(--gray1);
    margin-bottom: 30px;
    padding-bottom: 11px;
}
    .block1__the-debate .block1__section2__article:last-of-type header {
        margin: 0 15px 0 0;
    }

.block1__section2__versus {
    position: relative;
}
    .block1__section2__versus::before,
    .block1__section2__versus::after {
        content: "";
        display: block;
        background-color: var(--gray1);
        height: 1px;
        position: absolute;
        left: 0;
        right: 0;
    }

    .block1__section2__versus::before {
        top: calc(50% - 2px);
    }

    .block1__section2__versus::after {
        top: 50%;
    }

    .block1__section2__versus div {
        position: relative;
        z-index: 1;
        width: 32px;
        height: 32px;
        background-color: var(--black1);
        color: var(--gray6);
        border-radius: 50%;
        font: bold 14px/32px "Roboto Condensed", sans-serif;
        text-align: center;
        margin: 0 auto 9px;
    }

/* Opinion */
.block1__opinion .block1__section2 {
    margin: 0;
    padding-bottom: 40px;
    border: none;
}
    .block1__opinion .block1__section2__article:nth-of-type(n+2) {
        border-top: 1px solid var(--gray1);
        margin-top: 10px;
        padding-top: 10px;
    }

/* More Stories */
.block1__more-stories .block1__section2 {
    padding-bottom: 35px;
}

/* Footer */
.footer {
    background-color: var(--bs-white);
    color: var(--gray4);
    padding: 29px 15px 15px;
    margin-top: 19px;
}
    .footer a:focus {
        outline: none;
    }

    .footer__main {
        border-bottom: 1px solid var(--gray1);
    }
        .footer__main__newsweek--logo {
            fill: var(--red1);
            max-width: 100%;
        }

        .footer__main__newsweek--text {
            font-size: 12px;
            margin-top: 9px;
        }

        .footer__main__list {
            margin-top: 6px;
        }
            .footer__main__list li a {
                color: var(--gray4);
                margin-left: 10px;
            }
                .footer__main__list li:first-child a {
                    margin-left: 0;
                }

            .footer__main__list--facebook:hover {color: var(--blue4);}
            .footer__main__list--twitter:hover {color: var(--blue1);}
            .footer__main__list--instagram:hover {color: var(--blue3);}
            .footer__main__list--linkedin:hover {color: var(--blue2);}

    .footer__secondary {
        margin-top: 5px;
    }
        .footer__secondary a:hover {
            color: var(--black1);
        }

        .footer__secondary__links {
            margin-top: -17px;
        }
            .secondary__links__editions {
                font-size: 14px;
                font-weight: bold;
                margin-right: 15px;
            }

            .secondary__links__list li a {
                color: var(--gray4);
                font-size: 14px;
                padding-right: 10px;
                margin-right: 10px;
                line-height: 2;
            }

@media screen and (min-width: 768px) {
    .footer {
        margin-top: 0;
        padding-top: 27px;
        border-top: 2.5px solid var(--white2);
    }
        .footer__main {
            padding-bottom: 12px;
        }
            .footer__main__newsweek--text {
                position: relative;
                top: 2px;
                margin-left: 15px;
            }

            .footer__main__list {
                margin: 0;
            }

        .secondary__links__list li a {
            border-right: 1px solid var(--gray1);
        }
            .secondary__links__list li:last-child a {
                border: none;
                padding: 0;
                margin: 0;
            }
}

@media screen and (min-width: 992px) {
    .footer {
        padding: 27px 30px 30px;
    }
}
